.Navbar{
    padding-top: 25px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    
    font-size: 1.2vw;
}
.Anchor a{
    padding: 1vw;
    color: black;
    margin-right: 3vw;
    font-size: 1.8vw;
}
.Navbar img{
    height: 100%;
    width: 60%;
    margin-left: 12vw;
    margin-top: -1vw;
    
}

