*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Register{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ffe0a9;
}

.right-image img{
    background-size: cover;
    height: 100%;
    width: 65%;
}

.left-register{
    margin-top: 1.5vw;
    height: 90%;
    width: 35%;
    padding:  2vw 2vw;
    background-color: #eece98;
    box-shadow: 0 0 20px -2px #444444;
    font-size: 1.5vw;
   border-radius: 8px;
}

.left-register p{
    margin-left: 4vw;
}
.left-register h2{
    color: #206218;
    padding-left: 8vw;
}
.registration-form{
    margin-top: 2vw;
    
}
.registration-form input{
    width: 70%;
    height: 2.2vw;
    border: none;
    
}
.registration-form input:focus{
    border: 2px solid #206218;; /* Change the color to the desired shade of blue */
    box-shadow: 0 0 5px #206218; /* Optional: Add a shadow effect */
    outline: none; /* Remove the default blue outline */
}
.registration-form label{
    padding-right: 1.2vw;
    color: #206218;
}
.fullname{
    padding: 1vw 2vw;
}
.password{
    display: flex;
    padding:  1vw 2vw;
}
/* .password{
    padding: 1vw 2vw;
}
.password input{
    margin-left: 0.5vw; 
}*/
.passwordShow {
    position: relative;
  }
  
  .eyeButton {
    position: absolute;
    top: 60%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none; /* Prevent text selection when clicking the eye icon */
  }
  
  /* Style for the eye icon (customize as needed) */
  .eyeButton > svg {
    font-size: 1.2em; /* Adjust the font size as desired */
  }
  
.password input{
    margin-left: 0.5vw;
    width: 100%;
    padding-right: 8.8vw;
}
.phone{
    padding: 1vw 2vw;

}
.phone input{
    margin-left: 2.5vw;
}
.email{
    padding: 1vw 2vw;

}
.email input{
    margin-left: 3.2vw;
}
.register-button button{
    height: 2.8vw;
    width: 30%;
    margin: 2vw 11.5vw;
    background-color: #206218;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.register-button button:hover{
    background-color: #206218;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 20px -2px #444444;
    cursor: pointer;
}

.form-footer a{
    color: #206218;
    
}
